li{
    transition: all .3s;
    
    &:hover{
        transform: translate3d(20px,0,0);
        a{
            box-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
  background-color: #ececec;
        }
    }
}