body {
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Microsoft Yahei";
}

select,
input {
  vertical-align: middle;
}

select,
input,
textarea {
  font-size: 12px;
  margin: 0;
  border: 0 none;
}
textarea {
  resize: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}

body {
  font-family: "Microsoft Yahei";
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

s,
i,
em {
  font-style: normal;
  text-decoration: none;
}
.fl {
  float: left;
}

.fr {
  float: right;
}

.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.hide {
  display: none;
}
